#=============================================#
# EXPERT SETTINGS, NOT REQUIRED TO BE ALTERED #
#=============================================#
#BASE_WU_JSON_URL = http://api.wunderground.com/api/<WU_STRATUS_LICENCE_KEY>/geolookup/conditions/forecast/alerts/astronomy/q/<LOCATION>.json
BASE_WU_JSON_URL = http://api.wunderground.com/api/<WU_STRATUS_LICENCE_KEY>/geolookup/conditions/forecast/alerts/astronomy/lang:<LANGCODE>/q/<LOCATION>.json
BASE_WU_ICON_URL = http://icons.wxug.com/i/c/<ICON_SET>/<ICON>.gif
MAXIMUM_DAYS_FORECAST = 7

#===============================================#
# USER SETTINGS, EDIT BASED ON DOCUMENTED SETUP #
#===============================================#
CACHE_FOLDERPATH = /tmp/
PERSISTED_CACHE_FOLDERPATH = ~/
ICON_SET = a
CONNECTION_TIMEOUT = 60
EXPIRY_MINUTES = 30
TIME_FORMAT = %H:%M
DATE_FORMAT = %Y-%m-%d
LOCALE = en
WU_STRATUS_LICENCE_KEY =
WU_CUMULUS_LICENCE_KEY =
WU_ANVIL_LICENCE_KEY =
DEFAULT_LOCATION = autoip
#DEFAULT_LOCATION = Germany/Berlin
#DEFAULT_LOCATION = DE/Bonn
#DEFAULT_LOCATION = zmw:00000.10.10389
AUTO_NIGHT = True
PROXY_HOST = 
PROXY_PORT = 8080
PROXY_USERNAME = 
PROXY_PASSWORD = 
